<!doctype html>
<!--[if IE 8]> <html lang="en" class="no-js ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>RWJF APHA</title>
    <link rel="canonical" href="">
    <meta name="description" content="">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <link rel="shortcut icon" type="image/ico" href="/images/favicon.png">
    <script src="/js/dependencies/modernizr.custom.js"></script>
  </head>
  <body ng-app="IdeaApp" class="cms">
    <%- partial ('partials/svgs.ejs') %> 
    <%- partial ('partials/flash.ejs', { messages: messages }) %> 

    <header class="site-header" role="banner">
      <div class="wrap">
        <h1>RWJF APHA 2015</h1>
        <nav class="site-nav" role="navigation"> 
          <ul>
            <li class="new-post <%= formMode=='create' ? 'active' : '' %>"><a href="/idea/new">New Post</a></li>
            <li class="posts <%= formMode=='list' ? 'active' : '' %>"><a href="/ideas">All Posts (<%= numIdeas %>)</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="site-main" role="main">
    <%- body %>
    </main>

    <footer class="site-footer" role="contentinfo">
      <div class="wrap grid">
        <div class="flex-item one-half -left">
          <p class="copyright">Copyright 2015 Robert Wood Johnson Foundation</p>
        </div>
        <div class="flex-item one-half -right">
          <div class="logo"></div>
        </div>
      </div>
    </footer>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-sails.js"></script>
    <script src="/js/dependencies/angular-toastr.tpls.js"></script>
    <script src="/js/dependencies/modernizr.custom.js"></script>
    <script src="/js/IdeaApp.js"></script>
    <script src="/js/MonitorApp.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>